<%= link_to 'Voltar', projects_path, class: 'btn btn-info mb-3' %>
<div class="card">
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span><%= @project.name %></span>
      <div>
        <%= link_to 'Editar', edit_project_path(@project), class: 'btn btn-light' %> 
        <%= link_to 'Apagar', @project, method: :delete, class: 'btn btn-secondary', data: { confirm: 'Você tem certeza?' } %>
      </div>
    </h2>

    <div class="mb-4">
      <h6>Nova tarefa</h6>

      <%= form_for([@task.project, @task]) do |f| %> <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@task.errors.count, "error") %> prohibited this task
          from being saved:
        </h2>

        <ul>
          <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%= f.hidden_field :status, value: 'ocioso' %>
      <div class="input-group">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Nome da tarefa...' %>
        <div class="input-group-append">
          <%= f.submit 'Criar Tarefa', class: 'btn btn-primary' %>
        </div>
      </div>
      <% end %>
    </div>

    <h4>Tarefas</h4>
    <% @project.tasks.each do |task| %> 
      <% if task.persisted? %>
        <div class="card mb-3">
          <div class="card-body">
            <span class="badge alert-<%= task.badge_color %> mb-3"><%= task.status %></span>
            <h5 class="card-title d-flex justify-content-between mb-2">
              <span><%= task.name %></span>
              <div>
              <%= link_to 'Editar', edit_project_task_path(task.project, task), class: 'btn btn-light btn-sm' %>
              <%= link_to 'Apagar', [task.project, task], method: :delete, data: {confirm: 'Você tem certeza?' }, class: 'btn btn-dark btn-sm' %>
              </div>
            </h5>
            <p><%= task.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>