<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

  </head>

  <body class="bg-light">
    <%= render 'shared/navbar' %> <%= render 'shared/notices' %>

    <div class="container pt-5">
      <%= yield %></div>
    
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
